<!DOCTYPE html>
<html>
<head>
	<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-119887588-2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-119887588-2');
</script>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="/app.css">
	<link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
  <link rel="shortcut icon" href="https://cdn.shopify.com/s/files/1/0027/9248/9058/files/Screen_Shot_2018-08-19_at_8.04.43_PM_16f79950-16ed-4f6a-a883-4850d8ab7ecf_32x32.png?v=1534723559" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<title>Baruch CEO Club</title>
</head>

<body>
  <!--Nav Bar-->
  <nav class="navbar navbar-expand-lg">
  	<div class="container">
    <a class="navbar-brand a" href="/"><img src="/images/logo.png"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link a" href="/">Home<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link a" href="https://www.baruchceo.com/collections/frontpage" target="_blank">Shop</a>
        </li>
        <li class="nav-item">
          <a class="nav-link a fa fa-facebook" href="https://www.facebook.com/baruchceo/" style="padding:12px" target="_blank"></a>
        </li>
        <li class="nav-item">
          <a class="nav-link a fa fa-instagram" href="https://www.instagram.com/baruchceo/" style="padding:12px" target="_blank"></a>
        </li>
        <!--<li class="nav-item">
          <a class="nav-link a" href="#">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link a" href="#">Events</a>
        </li>
        <li class="nav-item">
          <a class="nav-link a" href="#">Gallery</a>
        </li>
         <li class="nav-item">
          <a class="nav-link a" href="#">Contact</a>
        </li>
      -->
      </ul>	
    </div>
  </div>
  </nav>
  <!--End of Nav Bar-->
	
	
	

  <!--Carousel-->
  <div id="demo" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ul class="carousel-indicators">
      <li data-target="#demo" data-slide-to="0" class="active"></li>
      <li data-target="#demo" data-slide-to="1"></li>
      <li data-target="#demo" data-slide-to="2"></li>
    </ul>
    <!-- The slideshow -->
    <div class="carousel-inner" style="height: 80vh">
      <div class="carousel-item active centercarousel">
        <img src="/images/ceo.PNG" width=100% height=600>
      </div>
      <div class="carousel-item centercarousel">
        <div class = "container-fluid">
          <a class = "a" href="https://www.baruchceo.com/collections/frontpage" target="_blank">Newly Released Merch!</a>
          <div class="row">
            <div class="col-sm-4"><a href="https://www.baruchceo.com/collections/frontpage" target="_blank"><img src="https://cdn.shopify.com/s/files/1/0027/9248/9058/products/mockup-facf03a3_1024x1024@2x.jpg?v=1534723137" class="shopimg"></a></div>
            <div class="col-sm-4"><a href="https://www.baruchceo.com/collections/frontpage" target="_blank"><img src="https://cdn.shopify.com/s/files/1/0027/9248/9058/products/mockup-2a8ab5fb_1024x1024@2x.jpg?v=1534723352" class="shopimg"></a></div>
            <div class="col-sm-4"><a href="https://www.baruchceo.com/collections/frontpage" target="_blank"><img src="https://cdn.shopify.com/s/files/1/0027/9248/9058/products/mockup-bb79e01d_1024x1024@2x.jpg?v=1535465255" class="shopimg"></a></div>
          </div>
        </div>
      </div>
      <div class="carousel-item centercarousel">
        <img src="/images/ceoevents.png" height="600">
      </div>
      
    </div> 
    <!-- Left and right controls -->
    <a class="carousel-control-prev" href="#demo" data-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
      <span class="carousel-control-next-icon"></span>
    </a>
  </div>
  <!--End of Carousel-->
	
	
	
	
  <div class="container text-center" style="margin-top: 1%">
    <a class="btn btn-primary btn-xl btn-lg sr-button" target="_blank" href="https://goo.gl/forms/Ka2JFHvKWfQWEivj2">Sign Up Now!</a>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>

</body>
</html>